<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %>
<body>
     <%- include('./partials/nav.ejs')  %>
    <p>
        404 not found
    </p>
      <%- include('./partials/footer.ejs')  %>
</body>
</html>